<!DOCTYPE html>
<html lang="en">
  {% set rows = sql("select * from highlight where book_id = :id", {"id": id})
  %} {% if not rows %} {{ raise_404("Museum not found") }} {% endif %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/#">Kindle Highlights</a>
      </div>
    </nav>
    <div class="container">
      <main class="container">
        <div class="row mb-2">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Highlight</th>
                <th>Note</th>
              </tr>
            </thead>
            <tbody>
              {% for hl in rows %}
              <tr>
                <td>{{ hl.id }}</td>
                <td>{{ hl.text }}</td>
                {% if hl.note != None %}
                <td>{{ hl.note}}</td>
                {% else %}
                <td></td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <ul class="list-group list-group-flush"></ul>
        </div>
      </main>
    </div>
  </body>
</html>
