<div class="col-md-6">
  <div
    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
  >
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-primary">{{ book.title }}</strong>
      <a href="/{{ book.id }}" class="stretched-link">Highlights</a>
    </div>
    <div class="col-auto d-none d-lg-block">
      <img
        src="http://images.amazon.com/images/P/{{ book.asin }}.01._PI_SCMZZZZZZZ_.jpg"
      />
    </div>
  </div>
</div>
